{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    {% for q in queries %}
        <div class="container">
            <p class = 'description'>{{ q['description'] }}</p>
            <div class="cell">
                {% for header in q['headers'] %}
                    <h1 class = 'header'>{{ header }}</h1>
                {% endfor %}
            </div>
            {% for d in q['data'] %}
                <div class = 'cell'>
                    {% for item in d %}
                        <h1>{{item}}</h1>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>
{% endblock %}