{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="cell">
        {% for header in headers %}
            <h1 class = 'header'>{{ header }}</h1>
        {% endfor %}
    </div>
    {% for d in data %}
        <div class = 'cell'>
            {% for item in d %}
                <h1>{{item}}</h1>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}