.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

.cell{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cell h1{
    font-weight: 100;
}

.header{
    font-weight: 400;
}