.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 20px auto;
}

.cell{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cell h1{
    font-weight: 100;
    width: 25%;
    text-align: center;
}

.cell .header{
    font-weight: 400;
}

.description{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}